
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  border: 1px solid black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    border: 1px solid black;
    width: 360px;
    height: 379px;
    padding: 30px 20px;
    background-color: #0B2434;
}

.game-floor {
      background-color: #F5F5F5;
      width: 320px;
      text-align: center;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px; 
      padding: 33.5px 34.56px;
}

.die-grid {
    display: grid;
    gap: 0.975rem;
    grid-template-columns: repeat(5, 1fr);
}


.die-nums {
  background-color: white;
  width: 2.24rem;
  height: 2.24rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.die-nums > h1 {
    font-size: 1.29rem;
    font-family: Karla, sans-serif;
    font-weight: 700;
    color: #2B283A;
}

.roll-btn {
    font-family: karla, sans-serif;
    font-weight: 700;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 30px; 
    border-radius: 3.81px;
    font-size: 1.024rem;
    margin-top: 25.6px;
    background-color: #5035FF;
    box-shadow: 0 3.2px 7.68px rgba(0, 0, 0, 0.18);
}

.roll-btn:hover {
  background-color: #6047ff;
}

.roll-btn:active {
  background-color: #826fff;
}